.map-container{
  height: 100%;
  width: 100%;
}

.row{
  background-color: white;
  bottom: 50px;
  left: 50px;
  padding: 10px;
  border-radius: 5px;
  position: fixed;
  z-index: 99999;
  width: 550px;
}
